.container
	.form-group
		label.col-sm-2.control-label(for='name') Name:
		.col-sm-10
			input.form-control(type='text', ng-model='entity.name', maxlength='50', placeholder='Product Name Here')
	.form-group
		label.col-sm-2.control-label(for='price') Price:
		.col-sm-4
			input#price.form-control(type='number', min='0', max='1000', step='0.01', ng-model='entity.price', placeholder='Price Here')
	div
		button.btn.btn-default.glyphicon.glyphicon-floppy-save(type='submit') Save
		a.btn.btn-default.glyphicon.glyphicon-step-backward(href='products') Back
