div(ng-include='"components/navbar/navbar.html"')

header
	.container
		h3 Angular Frontend Example
		p.lead Crud Example created by Jony Santos

	.container
		.row
			h4.page-header Tools:
			ul.nav.nav-tabs.nav-stacked
				li
					a(href='https://nodejs.org', target="_blank") Node.js

				li
					a(href='http://jade-lang.com', target="_blank") jade

				li
					a(href='https://angularjs.org', target="_blank") AngularJS
				li
					a(href='http://gruntjs.com', target="_blank") Grunt

				li
					a(href='https://github.com/wellspring-framework/wellspring/tree/master/examples/angular/angular-backend', target="_blank") angular-backend

				li
					a(href='http://yeoman.io', target="_blank") Yeoman

				li
					a(href='http://bower.io', target="_blank") Bower

div(ng-include='"components/footer/footer.html"')