div(ng-include='"components/navbar/navbar.html"')
.container
	.row
		.col-md-12(draggable='true', style='')
			.page-header
				h4
					| New {{pageTitle}} 
					font(color='#777777')
						span(style='font-size: 23px; line-height: 24px;')
form.form-horizontal(role='form', ng-submit='create(entity)')
	div(ng-include="'app/users/form.html'")
