div(ng-include='"components/navbar/navbar.html"')
.container
	.row
		.col-md-12(draggable='true', style='')
			.page-header
				h4
					| {{pageTitle}} {{entity.name}} 
					font(color='#777777')
						span(style='font-size: 18px; line-height: 19px;') details
	.row
		.col-md-12
			.form-group
				label.col-sm-2.control-label(for='id') Id:
				span#id {{entity.id}}
			.form-group
				label.col-sm-2.control-label(for='name') Name:
				span#name {{entity.name}}
			.form-group
				label.col-sm-2.control-label(for='email') Email:
				span#email {{entity.email}}
	div
		a.btn.btn-default.glyphicon.glyphicon-step-backward(href='/users/{{entity.id}}/edit') Edit
		a.btn.btn-default.glyphicon.glyphicon-step-backward(href='/users') Back